@use "../abstracts/variables";
@use "../abstracts/mixins" as m;
@use "../abstracts/funcions" as f;
.btn {
    width: f.rem(210px);
    height: f.rem(52px);
    background-color: variables.$color-black;
    color: variables.$color-white-primary;
    border: none;
    border-radius: f.rem(62px);
    font-family: variables.$font-secondary;
    font-weight: 500;
    font-size: f.rem(16px);
    padding: f.rem(16px) f.rem(54px);
    cursor: pointer;
}

.btn-secondary {
    @extend .btn;
    width: f.rem(218px);
    height: f.rem(52px);
    border: 1px solid #00000020;
    background: transparent;
    color: variables.$color-black;
}

.logout {
    padding: f.rem(10px) f.rem(10px);
    border: none;
    border-radius: f.rem(20px);

    background-color: variables.$color-black;
    color: variables.$color-white;

    font-family: variables.$font-secondary;
    font-size: f.rem(14px);

    cursor: pointer;
}

#quantity-increase,
#quantity-decrease {
    border: none;
    font-size: f.rem(20px);
}
