@font-face {
    font-family: "Integral CF";
    src: url("../assets/fonts/Fontspring-DEMO-integralcf-bold.otf")
        format("opentype");
    font-weight: 700;
    font-style: Bold;
}

@font-face {
    font-family: "Satoshi";
    src: url("../assets/fonts/Satoshi-Variable.ttf") format(truetype);
}
