$color-black: #000000;
$color-light-gray: #00000099;
$color-white: #ffffff;
$color-white-primary: #f0f0f0;
$color-white-secondary: #f0eeed;
$font-primary: "Integral CF";
$font-secondary: "Satoshi";
$bg-color-card: #f0eeed;
$color-muted: #0000004b;
$color-red: #ff3333;
$bg-red: rgba(255, 51, 51, 0.129);
$color-green: #01ab31;
