$color-black: #000000;
$color-light-gray: #00000099;
$color-white: #ffffff;
$color-white-primary: #f0f0f0;
$color-white-secondary: #f0eeed;
$font-primary: "Integral CF";
$font-secondary: "Satoshi";
$bg-color-card: #f0eeed;
$color-muted: #0000004b;
$color-red: #ff3333;
$bg-red: rgba(255, 51, 51, 0.129);
$color-green: #01ab31;
$button-color-brown: #4f4635;
$button-color-dark-green: #314f3b;
$button-color-dark-blue: #31344f;
$color-star-yello: #ffc633;
$border-color-black: #00000015;
$color-white-faded: #777;
